.body {
  margin-bottom: 50px;
}

.content {
  margin-left: 230px;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .06);
  padding: 40px 60px;
}

.footer {
  padding: 40px 60px;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .06);
}